body {
    width: 100%;
    background-color: White;
    font-family: 'Inria Sans', sans-serif;
}

.header {
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #40B8FC;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

h2 {
    text-align: center;
}

#onclick {
    color: aquamarine;
}

a {
    color: inherit; 
    text-decoration: none; 
}

.left-section {
    display: flex;
    padding-left: 30px;
}

.left-section h2 {
    margin-right: 200px;
}

.right-section {
    margin-left: auto;
    padding-right: 30px;
}

.contain-center {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.center-button {
    width: 10em;
    margin: 0 10px;
}

.button {
    background-color: #40B8FC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 8px;
}

.button:hover{
    background: #4070f4;
}